@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #2ba84a;
    font-family: 'Montserrat',sans-serif;
    color: #2d3a3a;
}
header{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column
}
main{
    display: flex;
    flex-direction:column;    
    align-items:center;
    
}.form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items:center;
    gap: 10px;
}
img{
    width:100px
}button{
    outline:none;
    border:none;
    border-radius: 20px;
    width:120px;
    height: 20px;
    background-color: #040f0f;
    color: #248232;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;

}
input{
    border:none;
    border-radius:20px;
    height: 30px;
    margin-top: 20px;
    outline: none;
}
input::placeholder{
    padding-left: 10px;
}
input::focus::placeholder{
    opacity: 0.4;
}
#resp{
    margin-top:10px;
}
